/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require font-awesome
 *= require_self
 */

  .my{
    background: #890000;
    min-height: 65px;
    max-width: 190px;
  }
  .item-div {
    border: 2px solid #918C8B;
    margin: 0 2%;
    padding: 0
  }
  .img-css{
    width: auto;
    margin: 0 2%;
    max-height: 144px;
    min-height: 144px;
  }

  #accordion > .col-sm-3{
    padding-left: 0;
    padding-right: 0;
    margin: 5px 10px;
  }
  .cross{
    margin-right: 5px;
    border-radius: 50px;
    float: right;
    padding: 5px;
    z-index: 999;
    border: 2px solid #ccc;
  }
  .order-this{
    padding: 4px;
    margin: 0 -4px 4px 4px;
    background: red;
    text-align: center;
    font-weight: 600;
    color: #fff;
    font-size: 15px;
  }

.f-menu{
	margin: 10px 0;
	cursor: pointer;
	background: red;
	padding: 10px 10px;
	border: 2px solid #000033;
	margin: 10px 10px;
	border-radius: 5px;
}

.mt-5 {
	margin-top: 5px;
}
.mt-10{
  margin-top: 10px;
}
.capitalize {
	text-transform: capitalize;
}
.cursor {
	cursor: pointer;
}
.panel-title {
	text-decoration: none;
	text-transform: capitalize;
}


@media only screen and (max-width: 550px) {
/*	.f-menu{
		margin: 10px 0;
	}
  .item-div {
    margin: 2% 2% !important;
  }
*/

}


.items-mar .col-sm-3, .items-mar .col-md-3{
  width: 30%;
  margin: 5px;
}

@media only screen and (max-width: 750px) {
	.f-menu{
		margin: 10px 0;
	}
  .item-div {
    margin: 2% 2% !important;
  }

}

@media only screen and (max-width: 990px) {
  .item-div {
    margin: 2% 2% !important;
  }
}

